body {
    color: #fff;
    
}
#question {
    margin-top: 10px;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(248, 248, 244);

}
#planet {
    /* position: absolute; */
     margin-top: 0px;
     margin-left: 35%;
    /* margin-left: 86%;  */
    }

.choice-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 1rem;
    /* background: rgb(17, 17, 243); */
    font-size: 3rem;
    min-width: 15rem;
    color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 1rem 1rem 1rem rgba(249, 253, 7, 0.5);
    transform: scale(1.02);
    transform: transform 10ms;
    color: yellow;
}

.choice-prefix {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem 2.5rem;
    color: white;
    font-size: 15px;
}

.choice-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem 2.5rem;
    color: white;
    font-size: 15px;
    /* padding: 2rem; */
    width: 40%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}


#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(212, 226, 128);
}

.hud-main-text {
    text-align: center;
    font-size: 25px;
}

#progressBar {
    width: 10rem;
    height: 1rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
} 
