/* @import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap'); */

:root {
    background-image: url("s1.gif"); 
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
   /* background-color: rgb(30, 30, 230); */
}
/* m  */
.start{
    font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: blue;
        color: lightgoldenrodyellow;
        font-size: 35px;
        margin-top: 35px;
        border: black;
        border-width: 2px ;
        border-color: black; 
        border-radius: 1rem;
        position: relative;
        margin-bottom: 35px;
}
        .start:hover {
            box-shadow: 0 0.4rem 4.4rem 0 rgba(255,255,0,0.5);
            
            
    }
    #line {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        color: rgb(250, 249, 244);
        margin-left: 0%;
        margin-right: 0%;
        pointer-events: painted  ;
        
    }
    .bs{
        background-color: turquoise;
        cursor: grabbing;
        border-radius: .5rem;
        
    }
    .bs :hover {
       
        background-color: teal;
    }
    .play{
        position: relative;
        
    }
    #planet {
    /* position: absolute; */
     margin-top: 0px;
    /* margin-left: 86%;  */
    }
    #code {
      
        font-size: 70px;
        color: chartreuse;
        position: absolute;
        
        top: 40px;
        margin-right: 15px;
        margin-left: 8%;

    }

/* b   */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}

h1 {
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}



h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;

}

.container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.bs :hover {
   
    background-color: teal;
}
.btn{
    color: rgb(124, 124, 45);
    font-size: 20px;
    margin-top: 10px;}

.highscore-btn {
    margin-top: 25px;
    background: linear-gradient(90deg, rgb(255, 247, 9) 0%, rgb(240, 221, 6) 100%);
    text-align: center;
    padding: 5px;
    font-size: 20px;
    position: relative;
    bottom: 2%;
    border-radius: 1rem;
margin-top: 35px;
    

}

.highscore-btn:hover {
    box-shadow: 0 0.4rem 4.4rem 0 rgba(255,255,0,0.5);
   
}


.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
    text-decoration-color: teal;
}

#end-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

#saveScoreBtn {
    border: none;
}
