body {
background-color: rgb(22, 22, 71);
/* background-image: url("sky.gif"); */
background-size: cover;
}
#start{
font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}
#line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(231, 10, 10);
    margin-left: 28%;
    margin-right: 28%;
    pointer-events: painted  ;
}
.bs{
    background-color: turquoise;
    cursor: grabbing;
    border-radius: .5rem;
    
}
.bs :hover {
   
    background-color: teal;
}
.btn{
    color: rgb(124, 124, 45);
    font-size: 20px;
    margin-top: 10px;
}
#planet {
/* position: absolute; */
 margin-top: 50px;
/* margin-left: 86%;  */
}
#code {
    font-size: 50px;
    color: chartreuse;
}